In [1]:
from datetime import datetime
import numpy as np
import pandas as pd

In [2]:
pd_JH_data=pd.read_csv('../data/processed/COVID_relational_confirmed.csv',sep=';',parse_dates=[0])
pd_JH_data=pd_JH_data.sort_values('date',ascending=True).reset_index(drop=True).copy()
pd_JH_data.head()

        date    state       country  confirmed
0 2020-01-22  Alberta        Canada        0.0
1 2020-01-22       no  Korea, South        1.0
2 2020-01-22       no        Kosovo        0.0
3 2020-01-22       no        Kuwait        0.0
4 2020-01-22       no    Kyrgyzstan        0.0

In [3]:
test_data=pd_JH_data[((pd_JH_data['country']=='US')|
                      (pd_JH_data['country']=='Germany'))&
                     (pd_JH_data['date']>'2020-03-20')]
test_data.head()

            date state  country  confirmed
15737 2020-03-21    no  Germany    22213.0
15777 2020-03-21    no       US    24508.0
16003 2020-03-22    no  Germany    24873.0
16042 2020-03-22    no       US    33152.0
16269 2020-03-23    no  Germany    29056.0

In [4]:
test_data.groupby(['country']).agg(np.max)

              date state  confirmed
country
Germany 2020-09-04    no   250283.0
US      2020-09-04    no  6200518.0

In [5]:
# %load ../src/features/build_features.py
from sklearn import linear_model
import numpy as np
reg=linear_model.LinearRegression(fit_intercept=True)

def get_rate(in_array):
    y=np.array(in_array)
    x=np.arange(len(y)).reshape(-1,1)
    reg.fit(x,y)
    #assert len(in_array)==3
    a=reg.coef_
    b=reg.intercept_
    return(b/a)
    


#test_data.groupby(['state','country']).apply(get_rate)

In [6]:
def rolling_reg(df_input,col='confirmed'):
    ''' Rolling Regression to approximate the doubling time'

        Parameters:
        ----------
        df_input: pd.DataFrame
        col: str
            defines the used column
        Returns:
        ----------
        result: pd.DataFrame
    '''
    days_back=3
    result=df_input[col].rolling(
                window=days_back,
                min_periods=days_back).apply(get_rate,raw=False)



    return result

In [7]:
pd_DR_result=pd_JH_data[['state','country','confirmed']].groupby(['state','country']).apply(rolling_reg,'confirmed').reset_index()

In [8]:
pd_DR_result=pd_DR_result.rename(columns={'confirmed':'doubling rate', 'level_2':'index'})
pd_DR_result.head()

     state country  index  doubling rate
0  Alberta  Canada      0            NaN
1  Alberta  Canada    465            NaN
2  Alberta  Canada    701            NaN
3  Alberta  Canada    966            NaN
4  Alberta  Canada   1263            NaN

In [9]:
pd_JH_data=pd_JH_data.reset_index()

In [10]:
pd.merge(pd_JH_data,pd_DR_result[['index','doubling rate']],on=['index'],how='left')

,index,date,state,country,confirmed,doubling rate
0,0,2020-01-22,Alberta,Canada,0.0,NaN
1,1,2020-01-22,no,"Korea, South",1.0,NaN
2,2,2020-01-22,no,Kosovo,0.0,NaN
3,3,2020-01-22,no,Kuwait,0.0,NaN
4,4,2020-01-22,no,Kyrgyzstan,0.0,NaN
5,5,2020-01-22,no,Laos,0.0,NaN
6,6,2020-01-22,no,Latvia,0.0,NaN
7,7,2020-01-22,no,Lebanon,0.0,NaN
8,8,2020-01-22,no,Lesotho,0.0,NaN
9,9,2020-01-22,no,Liberia,0.0,NaN
10,10,2020-01-22,no,Libya,0.0,NaN
11,11,2020-01-22,no,Liechtenstein,0.0,NaN
12,12,2020-01-22,no,Lithuania,0.0,NaN
13,13,2020-01-22,no,Luxembourg,0.0,NaN
14,14,2020-01-22,no,MS Zaandam,0.0,NaN
15,15,2020-01-22,no,Madagascar,0.0,NaN
16,16,2020-01-22,no,Malawi,0.0,NaN
17,17,2020-01-22,no,Malaysia,0.0,NaN
18,18,2020-01-22,no,Maldives,0.0,NaN
19,19,2020-01-22,no,Mali,0.0,NaN
20,20,2020-01-22,no,Malta,0.0,NaN
21,21,2020-01-22,no,Mauritania,0.0,NaN
22,22,2020-01-22,no,Mauritius,0.0,NaN
23,23,2020-01-22,no,Mexico,0.0,NaN
24,24,2020-01-22,no,Moldova,0.0,NaN
25,25,2020-01-22,no,Monaco,0.0,NaN
26,26,2020-01-22,no,Mongolia,0.0,NaN
27,27,2020-01-22,no,Montenegro,0.0,NaN
28,28,2020-01-22,no,Morocco,0.0,NaN
29,29,2020-01-22,no,Mozambique,0.0,NaN
...,...,...,...,...,...,...
60352,60352,2020-09-04,South Australia,Australia,463.0,inf
60353,60353,2020-09-04,St Martin,France,239.0,inf
60354,60354,2020-09-04,Tasmania,Australia,231.0,459.666667
60355,60355,2020-09-04,Tianjin,China,231.0,229.000000
60356,60356,2020-09-04,Tibet,China,1.0,inf
60357,60357,2020-09-04,Turks and Caicos Islands,United Kingdom,591.0,20.459119
60358,60358,2020-09-04,Victoria,Australia,19479.0,270.468531
60359,60359,2020-09-04,Western Australia,Australia,655.0,inf
60360,60360,2020-09-04,Xinjiang,China,902.0,inf
60361,60361,2020-09-04,Yukon,Canada,15.0,inf
60362,60362,2020-09-04,Yunnan,China,201.0,198.666667
60363,60363,2020-09-04,Zhejiang,China,1278.0,inf
60364,60364,2020-09-04,Shandong,China,831.0,inf
60365,60365,2020-09-04,no,Afghanistan,38304.0,1254.027322
60366,60366,2020-09-04,no,Algeria,45773.0,146.859079
60367,60367,2020-09-04,no,Andorra,1215.0,149.541667
60368,60368,2020-09-04,no,Angola,2876.0,55.956229
60369,60369,2020-09-04,no,Antigua and Barbuda,95.0,188.333333
60370,60370,2020-09-04,no,Argentina,461882.0,38.696228
60371,60371,2020-09-04,no,Armenia,44461.0,228.373057
60372,60372,2020-09-04,no,Austria,28729.0,73.622807
60373,60373,2020-09-04,no,Azerbaijan,37031.0,245.738016
60374,60374,2020-09-04,no,Bahamas,2386.0,95.721088
60375,60375,2020-09-04,no,Bahrain,54095.0,81.989130
60376,60376,2020-09-04,no,Bangladesh,321615.0,155.403067
60377,60377,2020-09-04,no,Barbados,178.0,176.000000
60378,60378,2020-09-04,no,Belarus,72485.0,419.403101
60379,60379,2020-09-04,no,Belgium,87174.0,136.043547
60380,60380,2020-09-04,no,Albania,9967.0,81.396095
60381,60381,2020-09-04,no,Zimbabwe,6837.0,66.514238

In [13]:
pd_result_large=pd.merge(pd_JH_data,pd_DR_result[['index','doubling rate']],on=['index'],how='left')
pd_result_large[pd_result_large['country']=='Germany']

       index       date state  country  confirmed  doubling rate
43        43 2020-01-22    no  Germany        0.0            NaN
308      308 2020-01-23    no  Germany        0.0            NaN
575      575 2020-01-24    no  Germany        0.0            NaN
841      841 2020-01-25    no  Germany        0.0            NaN
1107    1107 2020-01-26    no  Germany        0.0            NaN
1373    1373 2020-01-27    no  Germany        1.0      -0.333333
1638    1638 2020-01-28    no  Germany        4.0      -0.166667
1905    1905 2020-01-29    no  Germany        4.0       1.000000
2171    2171 2020-01-30    no  Germany        4.0            inf
2435    2435 2020-01-31    no  Germany        5.0       7.666667
2702    2702 2020-02-01    no  Germany        8.0       1.833333
2968    2968 2020-02-02    no  Germany       10.0       2.066667
3233    3233 2020-02-03    no  Germany       12.0       4.000000
3501    3501 2020-02-04    no  Germany       12.0      10.333333
3766    3766 2020-02-05    no  Germany       12.0            inf
4034    4034 2020-02-06    no  Germany       12.0            inf
4299    4299 2020-02-07    no  Germany       13.0      23.666667
4564    4564 2020-02-08    no  Germany       13.0      24.333333
4831    4831 2020-02-09    no  Germany       14.0      25.666667
5096    5096 2020-02-10    no  Germany       14.0      26.333333
5363    5363 2020-02-11    no  Germany       16.0      13.666667
5629    5629 2020-02-12    no  Germany       16.0      14.333333
5894    5894 2020-02-13    no  Germany       16.0            inf
6161    6161 2020-02-14    no  Germany       16.0            inf
6427    6427 2020-02-15    no  Germany       16.0            inf
6693    6693 2020-02-16    no  Germany       16.0            inf
6959    6959 2020-02-17    no  Germany       16.0            inf
7224    7224 2020-02-18    no  Germany       16.0            inf
7491    7491 2020-02-19    no  Germany       16.0            inf
7757    7757 2020-02-20    no  Germany       16.0            inf
...      ...        ...   ...      ...        ...            ...
52445  52445 2020-08-06    no  Germany   215039.0     192.571536
52711  52711 2020-08-07    no  Germany   216196.0     205.544407
52976  52976 2020-08-08    no  Germany   216903.0     230.809013
53243  53243 2020-08-09    no  Germany   217288.0     396.061661
53509  53509 2020-08-10    no  Germany   218508.0     270.110696
53775  53775 2020-08-11    no  Germany   219540.0     193.001184
54041  54041 2020-08-12    no  Germany   220859.0     185.844463
54306  54306 2020-08-13    no  Germany   222281.0     160.177186
54573  54573 2020-08-14    no  Germany   223791.0     150.644156
54838  54838 2020-08-15    no  Germany   224488.0     201.555505
55105  55105 2020-08-16    no  Germany   225007.0     368.126096
55371  55371 2020-08-17    no  Germany   226700.0     202.795961
55637  55637 2020-08-18    no  Germany   228120.0     144.588821
55903  55903 2020-08-19    no  Germany   229706.0     150.813262
56169  56169 2020-08-20    no  Germany   231292.0     143.833544
56435  56435 2020-08-21    no  Germany   233029.0     138.237035
56700  56700 2020-08-22    no  Germany   233861.0     180.181264
56967  56967 2020-08-23    no  Germany   234494.0     318.173606
57233  57233 2020-08-24    no  Germany   236122.0     206.718414
57499  57499 2020-08-25    no  Germany   237583.0     151.843207
57765  57765 2020-08-26    no  Germany   239010.0     163.523315
58031  58031 2020-08-27    no  Germany   240571.0     159.009817
58297  58297 2020-08-28    no  Germany   242126.0     153.408858
58562  58562 2020-08-29    no  Germany   242835.0     212.643110
58829  58829 2020-08-30    no  Germany   243305.0     410.798699
59093  59093 2020-08-31    no  Germany   244802.0     246.734960
59361  59361 2020-09-01    no  Germany   246015.0     179.595818
59625  59625 2020-09-02    no  Germany   247411.0     187.636259
59893  59893 2020-09-03    no  Germany   248840.0     174.166018
60158  60158 2020-09-04    no  Germany   250283.0     172.290158

[227 rows x 6 columns]

Filtering

In [ ]:
def savgol_filter(df_input,column='confirmed',window=5):
    ''' Savgol Filter which can be used in groupby apply function (data structure kept)

        parameters:
        ----------
        df_input : pandas.series
        column : str
        window : int
            used data points to calculate the filter result

        Returns:
        ----------
        df_result: pd.DataFrame
            the index of the df_input has to be preserved in result
    '''
    window=5,
    degree=1
    df_result=df_input

    filter_in=df_input[column].fillna(0) # attention with the neutral element here

    result=signal.savgol_filter(np.array(filter_in),
                           5, # window size used for filtering
                           1)
    df_result[str(column+'_filtered')]=result
    return df_result

In [ ]:
pd_filtered_result=pd_JH_data[['state','country','confirmed']].groupby(['state','country']).apply(savgol_filter).reset_index()